<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
    <meta charset="utf-8">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/productosCtrl.js"></script>
    <script src="js/directivas.js"></script>
    <script src="js/servicios.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilos.css">


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="js/datepicker/bootstrap-datepicker.1.6.1.min.js"></script>
    <!-- Script Date-Picker -->
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="fechaCompra"]'); //our date input has the name "fechaCompra"
            date_input.datepicker({
                language: "es",
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>

</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://crearpaginaweb.pe/web/121728f/img-catalogo-de-productos.png">
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Ingresar</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Consejos</a></li>
            </ul>
        </div>
    </nav>
</header>
<hr>
<div ng-app="myApp" ng-controller="productosCtrl" class="container">
    <main>
        <h1>
            <center>Gestion de Productos</center>
        </h1>
    </main>
    </hr>

    <!-- Boton Agregar Compra -->
    <hr>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agregarCompraModal"
            ng-click="modalAgregar()">
        <span class="glyphicon glyphicon-pencil"></span> Agregar
    </button>
    <hr/>
    <hr>
    <!-- Modal Agregar Compra -->
    <!-- Fading modal para efecto desvanecimiento-->
    <div class="modal fade" id="agregarCompraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="d">
            <!-- Contenido del modal-->
            <div class="modal-content">
                <!-- Cabezera del modal-->
                <div class="modal-header" style="padding:35px 50px; background-color: #9efbe7">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span>Nueva Compra</h4>
                </div>
                <!-- Cuerpo del modal-->
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <form method="post">
                                    <div class="form-group ">
                                        <label class="control-label requiredField" for="nombre">
                                            Nombre
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <input class="form-control" id="nombre" name="nombre" type="text"/>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label requiredField" for="precio">
                                            Precio
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <input class="form-control" id="precio" name="precio" type="text"/>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label requiredField" for="cantidadCompra">
                                            Cantidad
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <input class="form-control" id="cantidadCompra" name="cantidadCompra"
                                               placeholder="Ingrese Cantidad" type="text"/>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label " for="fechaCompra">
                                            Fecha Compra
                                        </label>
                                        <input class="form-control" id="fechaCompra" name="fechaCompra"
                                               placeholder="MM/DD/YYYY" type="text"/>
                                        <span class="help-block" id="hint_fechaCompra">Ingrese fecha</span>
                                    </div>

                                    <div class="form-group ">
                                        <label class="control-label requiredField" for="lugarCompra">
                                            Lugar de compra
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <select class="select form-control" id="lugarCompra" name="lugarCompra">
                                            <option value="coto">
                                                Coto
                                            </option>
                                            <option value="dia">
                                                Dia
                                            </option>
                                            <option value="jumbo">
                                                Jumbo
                                            </option>
                                            <option value="vital">
                                                Vital
                                            </option>
                                            <option value="carrefour">
                                                Carrefour
                                            </option>
                                            <option value="otro">
                                                Otro
                                            </option>
                                        </select>
                                    </div>
                                </form>
                                <!-- Pie del modal-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="limpiar()">Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="agregarProducto()"
                                            data-dismiss="modal"
                                            ng-disabled="formularioAgregar.$invalid">Agregar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </hr>

    <!-- Filtro por ID -->
    <p><input type="text" class="form-control" ng-model="buscarId" placeholder="Ingrese su busqueda"></p>

    <!-- Tabla de Compras -->
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th><a class="puntero" ng-click="columna = 'nombre'; reverse = !reverse;">Nombre</a></th>
                <th><a class="puntero" ng-click="columna = 'precio'; reverse = !reverse;">Precio</a></th>
                <th><a class="puntero" ng-click="columna = 'cantidad'; reverse = !reverse;">Cantidad</a></th>
                <th><a class="puntero" ng-click="columna = 'fechaCompra'; reverse = !reverse;">Compra</a></th>
                <th><a class="puntero" ng-click="columna = 'fechaAgote'; reverse = !reverse;">Agote</a></th>
                <th><a class="puntero" ng-click="columna = 'lugarCompra'; reverse = !reverse;">Lugar de Compra</a></th>
            </tr>
            <td>Leche</td>
            <td>20</td>
            <td>1</td>
            <td>02/07/2018</td>
            <td>07/07/2018</td>
            <td>Jumbo</td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editarModal"
                        ng-click="modalEditar(pro)">
                    <span class="glyphicon glyphicon-edit"></span>Editar
                </button>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal"
                        ng-click="idEliminar(pro)">
                    <span class="glyphicon glyphicon-remove"></span>Eliminar
                </button>

            </td>

            <!--	<tr ng-repeat = "pro in empleados | filter : {id : buscarId} | orderBy : columna : reverse">
                    <td>{{pro.nombre}}</td>
                    <td>{{pro.precio | currency}}</td>
                    <td>{{pro.cantidad}}</td>
                    <td>{{pro.fechaCompra}}</td>
                    <td>{{pro.fechaAgote}}</td>
                    <td>{{pro.lugarCompra}}</td>
                    <td><button class="btn btn-warning" data-toggle="modal" data-target="#editarModal" ng-click="modalEditar(pro)">
                    <i class="fa fa-edit"></i>Editar</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" ng-click="idEliminar(pro)">
                    <i class="fa fa-trash"></i>Eliminar</button></td>-->

            </tr>
        </table>
    </div>


    <!-- MODALES -->
    <modal-editar></modal-editar>
    <modal-eliminar></modal-eliminar>

</div>
</body>
</html>